<mat-card>
    <mat-card-header><h1>Öffnungszeiten für den {{ '20.03 bis 27.03' }}
    </h1></mat-card-header>
    <mat-card-content>

        <div class="timetable">
            <table>
                <thead>
                <tr>
                    <td></td>
                    <td *ngFor="let day of days">
                        <div>{{day}}</div>
                    </td>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let unit of timeUnits; let i = index">
                    <td>
                        <div>{{i + 1}}</div>
                    </td>
                    <td *ngFor="let day of days; let j = index">
                        <div *ngIf="getUnit(i + 1, j + 1) as unit" [ngClass]="{
              'changed': unit.changed && unit.changed === 'self',
              'remote-changes': unit.changed && unit.changed === 'remote'
            }">
                            <mat-form-field>
                                <mat-card [ngClass]="'closed'" *ngIf="day === 'Mo' || day === 'Di'">Geschlossen</mat-card>
                                <mat-card [ngClass]="'open'" *ngIf="day !== 'Mo' && day !== 'Di'">Geöffnet</mat-card>
                                <input matInput>
                            </mat-form-field>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </mat-card-content>
</mat-card>
