mat-card {
  margin: 1rem auto;
  width: 95%;
}
.timetable {
  max-height: 70vh;
  overflow-y: auto;
  padding: 1rem;
  border-radius: 1rem;
}

.closed {
  background-color: #820b0b;
  color: white;
  text-align: center;
}

.open {
  background-color: #147214;
  color: white;
  text-align: center;
}

table {
  width: 100%;
  border-spacing: 0;
  td {
    border: 1px solid white;


    > * {
      padding: 1rem;
      box-sizing: border-box;
    }
    .changed {
      border: greenyellow 3px solid;
    }

    .remote-changes {
      border: red 3px solid;
    }
  }
}
